.form{ 
    width: 80vw;
    height: 160vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    // justify-content: space-around;
    box-shadow: $box-shade;
    font-family: $font-style;
    background-color: rgba($color: white, $alpha: .9);
    overflow: scroll;
    box-shadow: $box-shade;
}

.form-inputs{ 
    display: flex;
    margin: 20px;
    align-items: center;
    
}

.make-model{ 
    display: flex;  
}
.hours-price{ 
    display: flex;
}

.entry-box{ 
    height: 50%;
    width: 300px;
   
}

.description-form-input{ 
  display: flex;

}

.description-entry-box{
    height: 100px;
    width: 400px;

}

.create-post-pics{ 
    display: flex;
    width: 100%; 
    height: 60vh;
    justify-content: space-between;
    align-items: center;
}

.upload-preview{ 
    width: 25vw;
    height: 20vw; 
    border-radius: 5px;
}

.pic-box{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   height: 100%; 
    
}

.dropzone{ 
    padding: 20px;
    border-radius: 2px;
    font-size: 12px;
    margin-top: 20px;
}

.submit-button{ 
    font-size: 25px;
    height: 10vh;
    width: 40%; 
    border-radius: 5px;
    margin: 15px;
}

.remove-picture{ 
    height: 10%;
    border-radius: 5px;
}