.individual-post{ 
    // height: 100vh;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: $box-shade;
    font-family: $font-style;
    font-size: 20px;
    background-color: rgba($color: white, $alpha: .8);
    
}

.post-pics-box{ 
    display: flex;
    justify-content: space-around;

}

.post-pics{ 
    width: 30%;
    height: autos;
    border-radius: 5px;
}

@media(max-width: 380px){
    .post-pics-box{ 
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .post-pics{
        margin-bottom: 10px;
        width: 90%;
    }
}