h3{
    font-size: 30px;
    margin: 0;
}

span{ 
    background-color: rgba($color: white, $alpha: 1.0);
    
}

.auth-box{ 
    background-color: rgba($color: white, $alpha: .8);
}

h4{ 
    font-size: 30px;
    margin: 0;
}