@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
h3 {
  font-size: 30px;
  margin: 0; }

span {
  background-color: white; }

.auth-box {
  background-color: rgba(255, 255, 255, 0.8); }

h4 {
  font-size: 30px;
  margin: 0; }

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center; }

.rentals {
  width: 80vw;
  height: 100vh;
  border-radius: 5px;
  overflow: scroll;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10px; }

.rental-title {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  margin: 0; }

.form {
  width: 80vw;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: scroll;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.3); }

.form-inputs {
  display: flex;
  margin: 20px;
  align-items: center; }

.make-model {
  display: flex; }

.hours-price {
  display: flex; }

.entry-box {
  height: 50%;
  width: 300px; }

.description-form-input {
  display: flex; }

.description-entry-box {
  height: 100px;
  width: 400px; }

.create-post-pics {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; }

.upload-preview {
  width: 25vw;
  height: 20vw;
  border-radius: 5px; }

.pic-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%; }

.dropzone {
  padding: 20px;
  border-radius: 2px;
  font-size: 12px;
  margin-top: 20px; }

.submit-button {
  font-size: 25px;
  height: 10vh;
  width: 40%;
  border-radius: 5px;
  margin: 15px; }

.remove-picture {
  height: 10%;
  border-radius: 5px; }

@media (max-width: 380px) {
  .form-title {
    font-size: 25px; }
  .make-model {
    flex-direction: column; }
  .entry-box {
    width: 200px;
    height: 20px; }
  .hours-price {
    flex-direction: column; }
  .description-form-input {
    flex-direction: column;
    width: 90%; }
  .description-entry-box {
    width: 100%; }
  .create-post-pics {
    flex-direction: column;
    width: 100%; }
  .pic-box {
    margin-bottom: 20px;
    width: 100%; }
  .upload-preview {
    width: 80%;
    height: 65%;
    margin-bottom: 30px; }
  .dropzone {
    margin-top: 20px; }
  .remove-picture {
    margin-top: 30px;
    background-color: white;
    height: 20px; } }

.post {
  width: 60vw;
  height: auto;
  display: flex;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 255, 255, 0.8); }

.dash-post-info {
  width: 20vw;
  padding: 25px; }

.post-title {
  margin: 0; }

.dashboard-post-img {
  width: 300px;
  height: 250px;
  border-radius: 5px; }

.dashboard-post-pics {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  height: 100%;
  margin-left: 0; }

.pic-arrows {
  height: 300px;
  width: 50px;
  font-size: 20px;
  font-weight: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; }

@media (max-width: 380px) {
  .dashboard-post-img {
    width: 150px;
    height: 100px; }
  .dashboard-post-pics {
    height: 100px; }
  .post {
    flex-direction: column;
    align-items: center;
    padding-top: 0; }
  .dash-post-info {
    width: 100%; } }

.individual-post {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.8); }

.post-pics-box {
  display: flex;
  justify-content: space-around; }

.post-pics {
  width: 30%;
  height: autos;
  border-radius: 5px; }

@media (max-width: 380px) {
  .post-pics-box {
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
  .post-pics {
    margin-bottom: 10px;
    width: 90%; } }

.profile-posts {
  width: 80%;
  height: 100vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: scroll; }

.pro-posts {
  display: flex; }

.profile-post-button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 15px; }

.profile-buttons {
  background-color: white;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  width: 70px;
  margin-bottom: 15px; }

.calendar {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.3);
  padding: 10px; }

.posts {
  display: flex;
  flex-direction: column;
  align-items: center; }
