@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap"); 

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./escavadora.jpg');
  background-size: cover;
  background-position: center;
}
.Nav{
  height: 15%;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white ; 
  font-family: 'Roboto', sans-serif;
  
}

.nav-title{ 
  margin-left: 0px;
}

.menu{ 
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 120px;
  justify-content: space-around;
  position: absolute;
  top: 10%;
  right: 10px;
  font-family: 'Roboto', sans-serif;
  margin-right: 100px;
  
}

.menu-button{ 
  border-radius: 5px;
  border:3px dimgray ;
  padding: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,.3); 
 
  
}

top-container{ 
  position: relative;

}

.search-bar{ 
  width: 80%;
  height: 35px;
  
  margin: 20px;
  /* margin-left: 200px; */
  display: flex;
  align-items: center;
  border-radius: 2px;
  
}

.search-input{ 
  height: 70%;
  width: 500px;
  box-shadow: 0 3px 5px 3px rgba(0,0,0,.3); 
  border-radius: 3px;
}

.search-button{ 
  height: 60%;
  font-size: 15px;
  border-color: black;
  border-radius: 5px;
  margin-left: 20px;
}

.auth{ 
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.auth-box{ 
  width: 60vw;
  height: 60%;
  box-shadow: 0 3px 5px 3px rgba(0,0,0,.3); 
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
  flex-direction: column;
  margin-bottom: 200px;
}

.auth-input{ 
  display: flex;
  align-items: center;
 
  
}

.auth-title{ 
  font-size: 40px;
  margin: 0;
}

.auth-p{
  font-size: 25px;
}

.input-box{ 
  height: 30px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 3px 2px 0 rgba(0,0,0,.3); 
  font-size: 14px;
}

.auth-button{ 
  height: 25px;
  font-size: 15px;
  margin-left: 50px;
  box-shadow: 0 3px 3px 1px rgba(0,0,0,.3); 
  border-radius: 5px;
}

.auth-phonenumber{
display: flex;
align-items: center;
flex-direction: column;
}