.Nav{
  height: 10%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu{ 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}